html {
	background: black;
}

h2 {
	color: white;
}

.imgContainer {
	text-align: center;
}

p {
	color: white;
}

#linkBox {
	text-align: center;*/
}

li, button {
	display: inline;
	color: white;
}

#containerOfEvents {
	width: 90%;
	height: 100px;
	color: gray;
	border: solid white 1px;
	margin-right: auto;
	margin-left: auto;
}

#map {
	height: 400px;
	width: 100%;
/*	background-color: blue;*/
}